/* Ruta: assets/css/header.css */

/* Variables de colores */
:root {
  --color-blanco: #ffffff;
  --color-gris-oscuro: #413f4c;
  --color-verde: #00ab00;
  --color-gris: #696969;
  --color-naranja: #ff893a;
  --color-gris-claro: #cccccc;
}

/* Estilos base del encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--color-verde);
  position: relative;
  height: 60px;
}

/* Estilo para el botón de regreso (Back) */
.btn_header_back {
  display: flex;
  flex-direction: column; /* El ícono estará arriba del texto */
  align-items: center;
  position: absolute;
  right: 80px; /* Ajuste para colocar el botón a la izquierda del menú */
  margin-top: 0;
}

.btn_header_back a {
  color: var(--color-blanco);
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column; /* Coloca el ícono arriba y el texto debajo */
  align-items: center;
}

/* Icono de regreso */
.btn_header_back i {
  color: var(--color-naranja);
  font-size: 1.6rem; /* Tamaño del ícono de regreso */
  margin-bottom: 5px; /* Espacio entre el ícono y el texto */
  transition: color 0.3s ease; /* Transición para el cambio de color */
}

/* Hover para cambiar el color del ícono a naranja */
.btn_header_back a:hover i {
  color: var(--color-blanco)
}

/* Estilo para el logo */
.logo_header img {
  width: 70px;
  padding: 10px;
  transition: transform 0.6s ease; /* Transición suave para la rotación */
}

.logo_header img:hover {
  transform: rotate(360deg);
}

/* Centrar el título horizontal y verticalmente en el encabezado */
.titulo_header_home {
  text-align: center;
  flex: 1; /* Esto asegura que el título ocupe el espacio entre los botones */
}

.titulo_header_home h1 {
  font-size: 1.5rem;
  color: var(--color-blanco);
}

.titulo_header_home p {
  font-size: 1rem;
  color: var(--color-gris-claro);
}

/* Estilos del menú hamburguesa */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  z-index: 1001; /* Asegura que el ícono esté sobre otros elementos */
}

/* Menú hamburguesa */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.menu-icon span {
  background-color: var(--color-blanco);
  height: 3px;
  border-radius: 3px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Estilo para el texto debajo del menú hamburguesa */
.menu-text {
  color: var(--color-blanco);
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: center;
}

/* Ajustes en dispositivos móviles */
@media (max-width: 768px) {
  /* Ocultar el texto "Menú" en pantallas pequeñas */
  .menu-text {
    display: none;
  }

  /* Logo en el encabezado */
  .logo_header img {
    width: 60px;
  }

  /* Centrar el título correctamente en pantallas pequeñas */
  .titulo_header_home {
    margin-left: 10px;
    text-align: center;
  }
}
