/* Variables de colores */
:root {
    --color-blanco: #ffffff;
    --color-gris-oscuro: #413f4c;
    --color-verde: #00AB00;
    --color-gris: #696969;
    --color-naranja: #ff893a;
    --color-gris-claro: #cccccc;
}

/* Estilos generales */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-blanco);
    color: var(--color-gris-oscuro);
}

/* Estilos del encabezado */
header {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.logo img {
    height: 50px;
    width: auto;
    transition: transform 0.3s, border-radius 0.3s;
}

.logo img:hover {
    transform: scale(1.2) rotate(360deg);
}

.textos-header {
    display: contents;
    align-items: center;
    font-size: 1rem;
}

.textos-header h1 {
    margin-right: 20px;
}

nav {
    margin-right: 20px;
}

nav a {
    color: var(--color-blanco);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.logout-button {
    padding: 8px;
    font-size: 0.9rem;
    background-color: var(--color-naranja);
    color: var(--color-blanco);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: var(--color-gris);
}

/* Estilos del contenido principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h3 {
    margin-bottom: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.module {
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
}

.module h4 {
    color: var(--color-gris-oscuro);
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Estilos del pie de página */
footer {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    padding: 10px 0;
    text-align: center;
    font-size: 0.875rem;
}

/* Estilos para el formulario de nueva solicitud */
#nueva-solicitud-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#nueva-solicitud-form label {
    margin-bottom: 5px;
    color: var(--color-gris-oscuro);
    font-size: 14px;
}

#nueva-solicitud-form input,
#nueva-solicitud-form textarea,
#nueva-solicitud-form select {
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid var(--color-gris-claro);
    border-radius: 3px;
}

#nueva-solicitud-form button {
    padding: 8px 12px;
    background-color: var(--color-verde);
    color: var(--color-blanco);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nueva-solicitud-form button:hover {
    background-color: var(--color-gris);
}

/* Estilos para los estados de tickets */
.estados-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.estado {
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    flex: 1;
    min-width: 150px;
    max-width: 300px; /* Ajusta este valor según tus necesidades */
}

/* Estilos para la tabla de tickets recientes */
.tickets-recientes table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tickets-recientes th, .tickets-recientes td {
    padding: 10px;
    border: 1px solid var(--color-gris-claro);
    text-align: left;
}

.tickets-recientes th {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    text-align: center;
}

/* Colores para los contenedores de tickets */
.ticket-abierto {
    background-color: var(--color-naranja);
    color: var(--color-blanco);
}

.ticket-cerrado {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

.ticket-pendiente {
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
}

.ticket-progreso {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.ticket-resuelto {
    background-color: var(--color-gris-claro);
    color: var(--color-gris);
}

/* Estilos para la tabla y lista de categorías */
.categorias {
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        font-size: 0.9rem;

        th, td {
            padding: 10px;
            border: 1px solid var(--color-gris-claro);
            text-align: left;
        }

        th {
            background-color: var(--color-verde);
            color: var(--color-blanco);
            text-align: center;
        }

        td {
            background-color: var(--color-blanco);
            color: var(--color-gris-oscuro);
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0;
        list-style-type: none;

        li {
            background-color: var(--color-verde);
            color: var(--color-blanco);
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
    }
}