/* Variables de colores */
:root {
    --color-blanco: #ffffff;
    --color-gris-oscuro: #413f4c;
    --color-verde: #00AB00;
    --color-gris: #696969;
    --color-naranja: #ff893a;
    --color-gris-claro: #cccccc;
}

/* Estilos generales */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-blanco);
    color: var(--color-gris-oscuro);
}

/* Estilos del encabezado */
header {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    position: relative; /* Necesario para posicionar el título absolutamente */
}

.textos-header {
    position: absolute; /* Posiciona el título absolutamente */
    top: 50%; /* Mueve el título al 50% de la altura del header */
    left: 50%; /* Mueve el título al 50% del ancho del header */
    transform: translate(-50%, -50%); /* Centra el título vertical y horizontalmente */
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    font-size: 1rem;
    z-index: 1; /* Asegura que el título esté por encima de otros elementos */
}

.textos-header h1 {
    margin: 0; /* Asegúrate de que no haya margen adicional */
}

.logo {
    margin-left: 20px;
}

.logo img {
    height: 50px;
    width: auto;
    transition: transform 0.3s, border-radius 0.3s;
}

.logo img:hover {
    transform: scale(1.2) rotate(360deg);
}

nav {
    margin-right: 20px;
}

nav a {
    color: var(--color-blanco);
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

.logout-button {
    padding: 8px;
    font-size: 0.9rem;
    background-color: var(--color-naranja);
    color: var(--color-blanco);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: var(--color-gris);
}

/* Estilos del contenido principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h3 {
    margin-bottom: 10px;
}

/* Estilos del contenedor module */
.module {
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 1100px; /* Ajusta el ancho máximo según tus necesidades */
}

.module h4 {
    color: var(--color-gris-oscuro);
    margin-bottom: 20px;
    margin-top: 10px;
}

.titulos_tablas {
    color: var(--color-gris-oscuro);
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

option {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem; /* Tamaño de la fuente del placeholder */
    color: var(--color-gris-oscuro); /* Color del texto del placeholder */
}

/* Estilo para el placeholder del input con id modalidad */
#tipo_de_formacion::placeholder {
    font-size: 0.9rem; /* Tamaño de la fuente del placeholder */
    color: var(--color-gris-oscuro); /* Color del texto del placeholder */
    opacity: 1; /* Asegura que el color se aplique completamente */
    font-family: "Poppins", sans-serif;
}

/* Estilo para el placeholder del input con id modalidad */
#programa::placeholder {
    font-size: 0.9rem; /* Tamaño de la fuente del placeholder */
    color: var(--color-gris-oscuro); /* Color del texto del placeholder */
    opacity: 1; /* Asegura que el color se aplique completamente */
    font-family: "Poppins", sans-serif;
}

/* Estilo para el placeholder del input con id modalidad */
#modalidad::placeholder {
    font-size: 0.9rem; /* Tamaño de la fuente del placeholder */
    color: var(--color-gris-oscuro); /* Color del texto del placeholder */
    opacity: 1; /* Asegura que el color se aplique completamente */
    font-family: "Poppins", sans-serif;
}

/* Estilo para el placeholder del textarea con id descripcion */
#descripcion::placeholder {
    font-size: 0.9rem; /* Tamaño de la fuente del placeholder */
    color: var(--color-gris-oscuro); /* Color del texto del placeholder */
    opacity: 1; /* Asegura que el color se aplique completamente */
    font-family: "Poppins", sans-serif;
}

/* Estilos del contenedor padre para centrar verticalmente */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Estilos del pie de página */
footer {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    padding: 10px 0;
    text-align: center;
    font-size: 0.8rem;
}

/* Estilos para el formulario de nueva solicitud */
#nueva-solicitud-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#nueva-solicitud-form label {
    margin-bottom: 5px;
    color: var(--color-gris-oscuro);
    font-size: 0.8rem;
}

#nueva-solicitud-form input,
#nueva-solicitud-form textarea,
#nueva-solicitud-form select {
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid var(--color-gris-claro);
    border-radius: 3px;
}

#nueva-solicitud-form button {
    padding: 8px 12px;
    background-color: var(--color-verde);
    color: var(--color-blanco);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nueva-solicitud-form button:hover {
    background-color: var(--color-gris);
}

/* Estilos para los estados de tickets */
.estados-container {
    display: flex;
    justify-content: center; /* Centra los elementos dentro del contenedor */
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.estado {
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    flex: 1;
    min-width: 150px;
    max-width: 300px; /* Ajusta este valor según tus necesidades */
}

/* Estilos para la tabla de tickets recientes */
.tickets-recientes table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tickets-recientes th,
.tickets-recientes td {
    padding: 10px;
    border: 1px solid var(--color-gris-claro);
    text-align: center;
    font-size: 0.8rem;
}

.tickets-recientes th {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    text-align: center;
}

/* Colores para los contenedores de tickets */
.ticket-abierto {
    background-color: var(--color-naranja);
    color: var(--color-blanco);
}

.ticket-cerrado {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

.ticket-pendiente {
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
}

.ticket-progreso {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.ticket-resuelto {
    background-color: var(--color-gris-claro);
    color: var(--color-gris);
}

/* Estilos para la tabla y lista de programas */
.programas table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.programas th,
.programas td {
    padding: 10px;
    border: 1px solid var(--color-gris-claro);
    text-align: center;
}

.programas th {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    text-align: center;
}

.programas td {
    background-color: var(--color-blanco);
    color: var(--color-gris-oscuro);
}

.programas ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    list-style-type: none;
}

.programas li {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos generales del paginador */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 6px 12px !important; /* Espaciado interno del botón */
    border: 1px solid var(--color-gris-claro) !important; /* Color del borde del botón */
    border-radius: 5px !important; /* Bordes redondeados */
    margin: 0 4px !important; /* Espaciado entre botones */
    background-color: var(--color-blanco) !important; /* Color de fondo del botón */
    color: var(--color-gris-oscuro) !important; /* Color del texto del botón */
    cursor: pointer !important; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s, color 0.3s, border 0.3s !important; /* Transición suave */
    margin-top: 100px;
}

/* Estilos para el botón de paginación activo */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: var(--color-verde) !important; /* Color de fondo del botón activo */
    color: var(--color-blanco) !important; /* Color del texto del botón activo */
    border: 1px solid var(--color-verde) !important; /* Color del borde del botón activo */
}

/* Estilos para el botón de paginación deshabilitado */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background-color: var(--color-gris-claro) !important; /* Color de fondo del botón deshabilitado */
    color: var(--color-gris-oscuro) !important; /* Color del texto del botón deshabilitado */
    border: 1px solid var(--color-gris-claro) !important; /* Color del borde del botón deshabilitado */
    cursor: not-allowed !important; /* Cursor para el botón deshabilitado */
}

/* Estilos para la información de la tabla */
.dataTables_wrapper .dataTables_info {
    font-size: 0.9rem !important; /* Tamaño de fuente de la información */
    color: var(--color-gris-oscuro) !important; /* Color del texto */
    margin-top: 10px;
}

/* Estilos para el select de longitud de la tabla */
.dataTables_wrapper .dataTables_length select {
    padding: 8px !important; /* Espaciado interno del select */
    border: 1px solid var(--color-gris-claro) !important; /* Color del borde del select */
    border-radius: 5px !important; /* Bordes redondeados */
    background-color: var(--color-blanco) !important; /* Color de fondo del select */
    color: var(--color-gris-oscuro) !important; /* Color del texto del select */
}

/* Estilos para el input de filtro de la tabla */
.dataTables_wrapper .dataTables_filter input {
    padding: 8px !important; /* Espaciado interno del input */
    border: 2px solid var(--color-verde) !important; /* Color del borde del input */
    border-radius: 5px !important; /* Bordes redondeados */
    background-color: var(--color-blanco) !important; /* Color de fondo del input */
    color: var(--color-gris-oscuro) !important; /* Color del texto del input */
    margin-bottom: 12px !important; /* Margen inferior del input */
}

/* Estilos para el mensaje de procesamiento de la tabla */
.dataTables_wrapper .dataTables_processing {
    background-color: var(--color-gris-claro) !important; /* Color de fondo del mensaje de procesamiento */
    color: var(--color-gris-oscuro) !important; /* Color del texto del mensaje de procesamiento */
    padding: 12px !important; /* Espaciado interno del mensaje de procesamiento */
    border-radius: 5px !important; /* Bordes redondeados */
    font-size: 1rem !important; /* Tamaño de fuente del mensaje de procesamiento */
}

/* Estilos para el encabezado de la tabla */
.dataTables_wrapper .dataTables_wrapper .dataTables_wrapper thead th {
    background-color: var(--color-verde-claro) !important; /* Color de fondo del encabezado */
    color: var(--color-blanco) !important; /* Color del texto del encabezado */
    padding: 10px !important; /* Espaciado interno del encabezado */
    text-align: center !important; /* Alinear texto al centro */
}

/* Estilos para las celdas de la tabla */
.dataTables_wrapper .dataTables_wrapper .dataTables_wrapper tbody td {
    padding: 8px !important; /* Espaciado interno de las celdas */
    border-bottom: 1px solid var(--color-gris-claro) !important; /* Color del borde inferior de las celdas */
}

/* Estilos para la fila seleccionada */
.dataTables_wrapper .dataTables_wrapper .dataTables_wrapper tbody tr.selected {
    background-color: var(--color-verde-oscuro) !important; /* Color de fondo de la fila seleccionada */
    color: var(--color-blanco) !important; /* Color del texto de la fila seleccionada */
}

/* Estilos para la fila alternante */
.dataTables_wrapper .dataTables_wrapper .dataTables_wrapper tbody tr:nth-child(even) {
    background-color: var(--color-gris-ligero) !important; /* Color de fondo de las filas alternantes */
}

/* Estilos para el scroll horizontal */
.dataTables_wrapper .dataTables_scroll .dataTables_scrollBody {
    overflow-x: auto !important; /* Habilitar scroll horizontal */
}

/* Eliminar el borde inferior de la tabla con clases dataTable y no-footer */
table.dataTable.no-footer {
    border-bottom: none !important;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 10px;
}

/* Sobrescribir el color de fondo de las filas impares en las tablas de DataTables */
tr.odd {
    background-color: transparent !important; /* Eliminar el color de fondo */
}

/* Eliminar el color de fondo de las celdas con la clase .sorting_1 en las filas impares */
.sorting_1 {
    background-color: transparent !important; /* Eliminar el color de fondo */
}

/* Estilos del contenedor principal */
.contenedor_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente el contenido */
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    text-align: center; /* Centra horizontalmente el texto */
}

/* Estilos para la sección de bienvenida */
.Seccion_bienvenida {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
}

.Seccion_bienvenida h2 {
    margin: 0;
    font-size: 2rem;
}

.Seccion_bienvenida p {
    margin: 10px 0 0;
    font-size: 1rem;
}

/* Estilos para la sección de información adicional */
.seccion_informacion {
    background-color: var(--color-gris-claro);
    color: var(--color-gris-oscuro);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
}

.seccion_informacion h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.seccion_informacion p {
    margin: 0;
    font-size: 1rem;
}