
/* tipos de fuente */
/* font-family: "Lato", sans-serif; */
/* font-family: "Poppins", sans-serif; */

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    color: #413f4c;
}

header {
    background-color: #ff893a;
    color: #fff;
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

    .logo {
        margin-left: 20px;
    }

    .logo img {
        height: 50px;
        width: auto;
        transition: transform 0.3s, border-radius 0.3s; /* Transición de la rotación y del borde */
    }

    .logo img:hover {
        transform: scale(1.2) rotate(360deg); /* Efecto de zoom y rotación */
    }

    nav {
        margin-right: 20px;
    }

        nav a {
            color: #fff;
            text-decoration: none;
            margin-left: 20px;
            font-size: 16px;
        }

        nav a:hover {
            text-decoration: underline;
        }
    



        .back-link {
            color: #fff;
            text-decoration: none;
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center;
            transition: transform 0.3s, border-radius 0.3s; /* Transición de la rotación y del borde */
            border: 1px solid #fff;
            border-radius: 50%; /* Borde circular */
            width: 30px; /* Ancho del círculo */
            height: 30px; /* Altura del círculo */
            padding: 5px; /* Aumenta el área de clic */
        }
        
        .back-link:hover {
            transform: scale(1.2) rotate(-360deg); /* Efecto de zoom y rotación */
            border-radius: 50%; /* Borde circular */
            text-decoration: none;
        }
        
        .back-link i {
            margin-right: 5px; /* Espacio entre el texto y el ícono */
        }

#btn_sesion{
    background-color: #ff893a;
    border-radius: 5px;
    color: #fff;
    width: 80%;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#btn_sesion:hover {
    background-color: #747474;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container, .register-container {
    background-color: #413f4c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;

    p{
        font-size: 12px;
        color: #fff;
    }
}

h1, h2 {
    color: #fff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;

    a {
        color: #ff893a;
        text-decoration: none;
        font-size: 14px;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

label {
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
}

input, select {
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #413f4c;
}

button, .logout-button {
    margin: 10px;
    padding: 8px 12px;
    background-color: #ff893a;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .logout-button:hover {
    background-color: #747474;
}

footer {
    background-color: #ff893a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 0.875rem;
}

.password-reset-container {
    background-color: #413f4c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
    text-align: center;

    p{
        color: #fff;
        text-align: justify;
    }
}

@media (max-width: 768px) {
    .login-container, .register-container {
        margin: 10px;
        padding: 15px;
    }
}

.form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-actions a {
    margin-top: 10px;
}


